.rtc-message{
    display:flex;
    flex-direction:column;
    margin:12px;
}

.rtc-message.rtc-mine{
    align-items:flex-end;
}

.rtc-message.rtc-other{
    align-items:flex-start;
}

.rtc-sender{
    font-size:12px;
    color:#666;
    margin-bottom:4px;
    font-weight:600;
}

.rtc-bubble{
    max-width:70%;
    padding:10px 14px;

    border-radius:16px;

    word-wrap:break-word;

    display:flex;
    flex-direction:column;
    gap:6px;

    box-shadow:0 1px 2px rgba(0,0,0,.08);
}

.rtc-message.rtc-mine .rtc-bubble{
    background:#c1fde0;
    color:rgb(97, 95, 95);

    border-bottom-right-radius:4px;
}

.rtc-message.rtc-other .rtc-bubble{
    background:#d9e0fb;
    color:#222;

    border-bottom-left-radius:4px;
}

.rtc-message-time{
    align-self:flex-end;

    font-size:11px;

    opacity:.75;
}